.auth-form{
    text-align: left;
     width: 40rem;
     max-width: 80%;
     margin: 5rem auto;
}
.form-control label,
.form-control input{
    width: 100%;
    display: block;
}
.form-control label{
    margin-bottom: 0.5rem;
    
}
.form-control{
    margin-bottom: 1rem;
}
.form-actions button{
    background:#15a7d3;
    padding:0.25rem 1rem;
    margin-right: 1rem;
    font:inherit;
    border:1px solid #15a7d3;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
    cursor: pointer;


}
.form-control button:hover,
.form-control button:active{
    background:#0b7596;
    border-color: #0b7596;
}